@{
    ViewData["Title"] = "Seleccionar tipo de registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selecciona el tipo de usuario</h2>

<div class="mt-4">
    <a asp-controller="Estudiantes" asp-action="Create" class="btn btn-outline-success btn-lg">
        Registrar Estudiante
    </a>
</div>
